
@import "../../global.scss";

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mobile{
        margin-left: 40px;
      
    }


    h1{
        font-size: 20px;
        color:#555;
        text-transform: capitalize;
   

    }
    .post{
        display: flex;
        position: relative;
        flex-direction: column;
     
        
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-right-radius:10px;
            border: 2px solid lightseagreen;

            @include mobile {
                width: 300px;
                
            }

        }
        h2{
            color: #555;
            width: 300px;

        }

        button{
            padding: 10px 20px;
            width: max-content;
            margin-top: 10px;
            border:  solid 1px lightseagreen ;
            transition: all 1s ease;
            color: teal;
            cursor: pointer;

            &:hover{
                background-color: lightseagreen;
                color: white;


            }

        }
    }
    
}