


@import "../../global.scss";
.home{
    width: 1024px;
    margin: 0 auto;
    @include mobile{
        width: 100%;
    }

    .homeWrpper{
     
        @include mobile {
            }
        .posts{
            margin: 50px;
            display: flex;
            flex-direction: column;
            gap: 100px;
            @include mobile{
                gap: 40px;
            }
         
            .post{
                display: flex;
                justify-content: center;
                gap: 100px;
                @include mobile {
                    gap: 30px;
                    flex-direction: column;
                    padding-bottom: 20px;
                    border-bottom: 2px dotted lightseagreen ;
                        }
                &:nth-child(2n+1){
                    flex-direction: row-reverse;
                    @include mobile {
                            gap: 30px;
                            flex-direction: column;
                        }
                }
                .img{
                   flex:2;
                   position: relative;
                   z-index: 2;
                   &::after{
                             content:"";
                           position: absolute;
                           width: 100%;
                           height: 100%;
                           background-color: lightseagreen;
                           top: 20px;
                           left: -20px;
                           z-index: -1;
                           border: 2px dotted crimson; 
                            @include mobile {
                                    display: none;
                                }
                   }
                   img{
                       width: 100%;
                       height: 400px;
                       object-fit: cover;
                        @include mobile {
                            width: 250px;
                            height: 250px;
                            }

                   }
                }
                .content{
                    flex: 3;
                    h1{
                        color: teal;
                    }
                    button{
                        width: max-content;
                        padding: 10px 20px;
                        border: none;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid teal;
                        margin-top: 10px;
                        color: teal;
                        transition: all 1s ease;
                        font-weight: 600;
                        &:hover{
                            background-color: teal;
                            color: white;
                            
                        }
                    }

                }
            }
        }
    }
}