

@import "../../global.scss";
.singlepage{
    width: 1024px;
    margin: 20px auto ;
    
  
    .singlepageWrapper{
        display: flex;
        gap: 50px;
        @include mobile {
              
                flex-direction: column;
            }

        .content{
            flex: 5;
            height: max-content;
            padding: 10px 20px;
          
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
               
                

            }
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;

                }

                .info{
                    span{
                        font-weight: bold;
                        cursor: pointer;
                    }
                    p{
                        font-size: 13px ;
                        // color: #555;
                    }
                }
                .edit{
                    display: flex;
                    gap: 10px;
                    // margin-left: 100px;
                    a{
                        i{
                            font-size: 20px;
                            cursor: pointer;
                        }
                        .fa-pen-to-square{
                            color: teal;
                        }
                        .fa-trash{
                            color: crimson;
                        }
                    }
                }
            }
            h1{
                text-transform: capitalize;
                font-size: 42px;
                
            }
            p{
                color: #444;
                font-size: 16px ;
                text-align: justify;

            }
        }
        .menu{
            flex: 2;
        }
    }
}